<main class="container-form-register">
  <form [formGroup]="formAddress" class="container-form ">

      <div class="form-input" >
        <mat-form-field  appearance="fill">
          <mat-label>Rua</mat-label>
          <input formControlName="rua" matInput>
        </mat-form-field>
      </div>

      <div class="form-input" >
        <mat-form-field  appearance="fill">
          <mat-label>Complemento</mat-label>
          <input formControlName="complemento" matInput>
        </mat-form-field>
      </div>

      <div class="form-input" >
        <mat-form-field  appearance="fill">
          <mat-label>Bairro</mat-label>
          <input formControlName="bairro" matInput>
        </mat-form-field>
      </div>

      <div class="form-input" >
        <mat-form-field  appearance="fill">
          <mat-label>Cidade</mat-label>
          <input formControlName="cidade" matInput>
        </mat-form-field>
      </div>
      <div class="form-input" >
        <mat-form-field  appearance="fill">
          <mat-label>Número</mat-label>
          <input formControlName="numero" matInput>
        </mat-form-field>
      </div>

      <div class="form-input" >
        <mat-form-field  appearance="fill">
          <mat-label>Estado</mat-label>
          <input formControlName="estado" matInput>
        </mat-form-field>
      </div>

  </form>
  <button (click)="formAddressEmitter()" class="button" mat-raised-button color="primary">Próximo</button>
</main>
