<section class="pag-dashbard">
  <header class="header-dashboard">
    <div class="container-title title">
      <img src="../../assets/images/logo.png" alt="Logo">
      <h1>Acompanhamento de Cursos</h1>
    </div>

    <div class="name-one title">
      <h1>Bianca Dias</h1>
    </div>

  </header>

  <main class="container-input">
    <section class="buttons">

      <div class="courses">
        <button mat-button>Básico</button>
        <button mat-button>JavaScript</button>
        <button mat-button>TypeScript</button>
        <button mat-button>Angular</button>
      </div>
      <mat-divider></mat-divider>

    </section>

    <section>

      <div class="container-courses">
        <h1>Curso</h1>
        <a href="#">Ver curso</a>
      </div>

      <div class="container-message">
        <mat-accordion class="message">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Introdução
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill">
              <mat-label >Textarea</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>

        <!-- <mat-accordion class="message">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Primeiros Passos
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill">
              <mat-label>Textarea</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion class="message">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Data Binding
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill">
              <mat-label>Textarea</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion class="message">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Diretivas
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill">
              <mat-label>Textarea</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion class="message">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Comunicação entre componentes
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill">
              <mat-label>Textarea</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion class="message">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Ciclo de vida entre componentes
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill">
              <mat-label>Textarea</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion class="message">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Serviços
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill">
              <mat-label>Textarea</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion class="message">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                RXJS-Observables e Subjects
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill">
              <mat-label>Textarea</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion>

        <mat-accordion class="message">
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Operadores RXJS
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field appearance="fill">
              <mat-label>Textarea</mat-label>
              <textarea matInput></textarea>
            </mat-form-field>
          </mat-expansion-panel>
        </mat-accordion> -->

      </div>
    </section>
  </main>

</section>


