.pag-dashbard {
  background-color: #E5E5E5;
  width: 100vw;
  height: 100vh;
}

.header-dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #FFFFFF;
}

.container-title {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.container-title img {
  width: 35px;
  height: 35px;
}

.container-title h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

.name-one h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 50px;
}

.title h1 {
  margin-top: 10px;
}

.container-input {
  margin: 20px 90px;
}

.courses {
  display: flex;
  justify-content: end;

}

.container-courses {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.container-courses a {
  text-decoration: none;
  color: #07bde5;
}

.container-message mat-form-field{
  width: 100%;
}
